ul.pagination
{
    list-style: none;
    text-align: center;
    margin: 0 auto;
}

ul.pagination li
{
    display: inline;
    float: left;
}

ul.pagination li a
{
    display: block;
    background: #add8e6;
    height: 3em;
    width: 3em;
    border: 1px solid #77949d;
    margin: 0.2em;
    padding: 1em;
}